<h3>Genre Show Page</h3>

<h3>Genre Name:</h3>
<h1><%= @genre.name %></h1>

<h3>Genre ID:</h3>
<h1><%= @genre.id %></h1>

<h3>Edit Genre:</h3>
<div><%=link_to("Edit Genre", edit_genre_path)  %></div>

<h3>Back to Index</h3>
<div><%=link_to("Index", genres_path)  %></div>


